<div class="chat-main__chat-info">
  <div class="chat-main__chat-avatar">
    <img src={{chatavatar}} alt="{{chatname}}" title="{{chatname}}" class="chatavatar__changeable"/>
  </div>
  <div class="chat-main__chat-name">
    {{{chatname}}}
  </div>
</div>
<div class="chat-main__mini-menu" id="mini-menu">
</div>
<div class="chat-main__opened-menu hidden" id="open-menu">
    {{{chatMenu}}}
  <div class="mini-menu__hr"></div>
    {{{actionsMenu}}}
</div>
<div class="chat-main__hr"></div>
