<div class="profile__main-info center-center">
  {{{avatar}}}
</div>
{{{charList}}}
<div class="profile__change-links">
  {{{linkChangeProfile}}}
  {{{linkChangePassword}}}
  {{{linkLogout}}}
  {{!-- <a href="/settings">Изменить данные</a>
  <a href="/changepass">Изменить пароль</a>
  <a class="color-red">Выйти</a> --}}
</div>
