<div class="chat-list__avatar">
  <img src={{avatar}} alt="{{name}}" title="{{name}}" />
</div>
<div class="chat-list__profile-block">
  <div class="chat-list__profile-name">
    {{{name}}}
  </div>
  <div class="chat-list__profile-link">
    <a href={{link}}>Профиль ></a>
  </div>
</div>
