<div class="chat-main__message message-outgoing">
  <div class="chat-main__message-wrap message-right">
    <div class="chat-main__message-plus-avatar">
      <div class="chat-main__avatar message-right">
        <img src="{{avatar}}" alt="{{name}}" title="{{name}}" />
      </div>
      <div class="chat-main__message-out">
        <div class="message">{{{message}}}</div>
        <div class="timestamp">
          <div class="got-out"></div>
          <div class="got-resp"></div>
          <time>{{{time}}} </time>
        </div>

      </div>
    </div>
    <div class="chat-main__username">{{{name}}}</div>
  </div>
</div>
