<div class="message-out-wrapper row">

    <div class="message-inner col">
        <div class="message-text">
            {{{message}}}
        </div>
        <div class="date-time">
            <time>{{{date}}}</time>
            <time>{{{time}}}</time>
        </div>
    </div>
    <div class="avatar-out">
        <img src="{{avatar}}">   
    </div>
</div>
<div class="nickname">
    {{{nickname}}}
</div>
