<div class="profile-wrapper">
    {{{avatar}}}
    <form class="form-changeprofile form width-wide">
        <legend>
            <h3>Изменить данные профиля</h3>
        </legend>
        <div class="form-changeprofile__form-wrapper form col width-100">
            {{{input0}}}
            {{{input1}}}
            {{{input2}}}
            {{{input3}}}
            {{{input4}}}
            {{{input5}}}
        </div>
        <div class="submit-message"></div>
        {{{button}}}
    </form>
</div>
